* {
    font-family: 'Anonymous Pro', monospace;

}
.App{
    border: 1rem solid cadetblue;
    height: 35rem;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1595452767427-0905ad9b036d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cXVlc3Rpb24lMjBtYXJrc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    color: black;
    
}

.question {
    margin-top: 1rem;
    height: 17.4rem;
    border: 5px solid whitesmoke;
    background-color: whitesmoke;
    opacity: 65%;   
    padding: 1rem;
    text-align: center;
}

.newQ{
    height: 2rem;
    background-color: whitesmoke;
  
}

.reveal {
    background-color: black;
    color: whitesmoke;
    opacity: 100%;
}

.category {
    text-transform: capitalize;
}


button {
    height: 2rem;
    margin-right: 5px;
    font-size: medium;
    margin-bottom: 2rem;
    
}

h1 {
    padding-top: 2rem;
}

h2 {
    color: black;
}